<!-- only content use -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Requested URL not found - mySupport</title>
        <link href="css/styles.css" rel="stylesheet" />
        <script src="js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <!-- start of templates/sb-admin/error404.html.twig -->
        <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <img class="mb-4 img-error" src="assets/img/error-404-monochrome.svg" />
                                    <p class="lead">This requested URL was not found on this server.</p>
                                    <a href="../clean/index.html">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        Return
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <!-- end of templates/sb-admin/error404.html.twig -->

            <div id="layoutError_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <!-- start of templates/shared/sb-admin/_policy_terms.html.twig -->
                            <div class="text-muted">Copyright &copy; mySupport 2021</div>
                            <div>
                                <a target="private" href="https://en.wikipedia.org/wiki/Privacy_policy">Privacy Policy</a>
                                &middot;
                                <a target="conditions" href="https://en.wikipedia.org/wiki/Contractual_term">Terms &amp; Conditions</a>
                            </div>
                            <!-- end of templates/shared/sb-admin/_policy_terms.html.twig -->
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
