    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="list-inline text-center">
                        <img src="{{ asset('clean/assets/img/sponsors.png') }}" width="100%">
                        <li class="list-inline-item">
                            <a target="twitter" href="https://twitter.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="facebook" href="https://fr-fr.facebook.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="linkedin" href="https://www.linkedin.com/in/didier-lefebvre-925976120/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="github" href="https://github.com/dlefebvre614/Simplon-Symfony_5.3.3-mySupport">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="gbs" href="https://getbootstrap.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-bootstrap fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="sf" href="https://symfony.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-symfony fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="fa" href="https://fontawesome.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-font-awesome fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        
                        <li class="list-inline-item">
                            <a target="Atlas" href="https://www.opco-atlas.fr/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-font fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="Simplon" href="https://simplon.co/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="Pole-Emploi" href="https://www.pole-emploi.fr/accueil/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-product-hunt fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="Trello" href="https://trello.com/b/56nBR4Av/projet-dapoth%C3%A9ose-spoc">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-trello fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="YCT" href="http://yacht.club.de.triel.online.fr">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-anchor fa-stack-1x fa-inverse"></i>
                                    <!-- <i class="far fa-life-ring fa-stack-1x fa-inverse"></i> -->
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="DLC" href="http://did.lefebvre.conseil.online.fr">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="far fa-building fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>

                    <div class="small text-center text-muted fst-italic">Copyright &copy; mySupport 2021</div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Bootstrap core JS-->
    <script src="{{ asset('clean/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core theme JS-->
    <script src="{{ asset('clean/js/scripts.js') }}"></script>