            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; mySupport 2021</div>
                        <img src="{{ asset('/clean/assets/img/Sponsors.png') }}" width="50%">
                        <div>
                            <a target="Policy" href="https://en.wikipedia.org/wiki/Privacy_policy">Privacy Policy</a>
                            &middot;
                            <a target="Conditions" href="https://en.wikipedia.org/wiki/Contractual_term">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>