           
            <main>
                <div class="container-fluid px-4">
                    {% block title_main %}{% include "shared/sb-admin/_title_main.html.twig" %}{% endblock %}
                    {% block card_main %}{% include "shared/sb-admin/_card.html.twig" %}{% endblock %}
                    {% block chart_main %}{% include "shared/sb-admin/_chart.html.twig" %}{% endblock %}
                    {% block table_main %}{% include "shared/sb-admin/_table.html.twig" %}{% endblock %}
                </div>
            </main>
            