                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Aid applications
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th scope="col">Start date</th>
                                        <th scope="col">End date</th>
                                        <th scope="col">Subscriber</th>
                                        <th scope="col">Technician</th>
                                        <th scope="col">Difficulty</th>
                                        <th scope="col">Tool</th>
                                        <th scope="col">Terminal</th>
                                        <th scope="col">Application</th>
                                        <th scope="col">URL</th>
                                        <th scope="col">Explanation</th>
                                        <th scope="col">Answerd</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th scope="col">Start date</th>
                                        <th scope="col">End date</th>
                                        <th scope="col">Subscriber</th>
                                        <th scope="col">Technician</th>
                                        <th scope="col">Difficulty</th>
                                        <th scope="col">Tool</th>
                                        <th scope="col">Terminal</th>
                                        <th scope="col">Application</th>
                                        <th scope="col">URL</th>
                                        <th scope="col">Explanation</th>
                                        <th scope="col">Answerd</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr class="table-primary">
                                        <!--<th scope="row">Primary</th>-->
                                        <td>2021-07-19 10:28</td>
                                        <td>2021-07-19 11:43</td>
                                        <td>Jacques DURANT</td>
                                        <td>Marcel PROUST</td>
                                        <td>My application is slow</td>
                                        <td>Internet Explorer</td>
                                        <td>PC-JACQUES</td>
                                        <td>google.fr</td>
                                        <td>https://www.google.fr</td>
                                        <td>L'application est lente</td>
                                        <td>Fermez les applications qui ne servent pas sur votre PC. Il manque de mémoire</td>
                                        <td>
                                            <button type="button" onclick="window.location.href='../darkly/subscriber_model.html';"
                                                class="btn btn-primary">Detail</button>
                                            <button type="button" onclick="window.location.href='../darkly/technician_model.html';"
                                                class="btn btn-primary">Close</button>
                                        </td>
                                    </tr>
                                    <tr class="table-success">
                                        <!--<th scope="row">Success</th>-->
                                        <td>2021-07-19 10:28</td>
                                        <td>2021-07-19 11:43</td>
                                        <td>Jacques DURANT</td>
                                        <td>Marcel PROUST</td>
                                        <td>My application is slow</td>
                                        <td>Internet Explorer</td>
                                        <td>PC-JACQUES</td>
                                        <td>google.fr</td>
                                        <td>https://www.google.fr</td>
                                        <td>L'application est lente</td>
                                        <td>Fermez les applications qui ne servent pas sur votre PC. Il manque de mémoire</td>
                                        <td>
                                            <button type="button" onclick="window.location.href='../darkly/subscriber_model.html';"
                                                class="btn btn-success">Detail</button>
                                            <button type="button" onclick="window.location.href='../darkly/technician_model.html';"
                                                class="btn btn-success">Close</button>
                                        </td>
                                    </tr>
                                    <tr class="table-danger">
                                        <!--<th scope="row">Danger</th>-->
                                        <td>2021-07-19 10:28</td>
                                        <td>2021-07-19 11:43</td>
                                        <td>Jacques DURANT</td>
                                        <td>Marcel PROUST</td>
                                        <td>My application is slow</td>
                                        <td>Internet Explorer</td>
                                        <td>PC-JACQUES</td>
                                        <td>google.fr</td>
                                        <td>https://www.google.fr</td>
                                        <td>L'application est lente</td>
                                        <td>Fermez les applications qui ne servent pas sur votre PC. Il manque de mémoire</td>
                                        <td>
                                            <button type="button" onclick="window.location.href='../darkly/subscriber_model.html';"
                                                class="btn btn-danger">Detail</button>
                                            <button type="button" onclick="window.location.href='../darkly/technician_model.html';"
                                                class="btn btn-danger">Close</button>
                                        </td>
                                    </tr>
                                    <tr class="table-warning">
                                        <!--<th scope="row">Warning</th>-->
                                        <td>2021-07-19 10:28</td>
                                        <td>2021-07-19 11:43</td>
                                        <td>Jacques DURANT</td>
                                        <td>Marcel PROUST</td>
                                        <td>My application is slow</td>
                                        <td>Internet Explorer</td>
                                        <td>PC-JACQUES</td>
                                        <td>google.fr</td>
                                        <td>https://www.google.fr</td>
                                        <td>L'application est lente</td>
                                        <td>Fermez les applications qui ne servent pas sur votre PC. Il manque de mémoire</td>
                                        <td>
                                            <button type="button" onclick="window.location.href='../darkly/subscriber_model.html';"
                                                class="btn btn-warning">Detail</button>
                                            <button type="button" onclick="window.location.href='../darkly/technician_model.html';"
                                                class="btn btn-warning">Close</button>
                                        </td>
                                    </tr>
                                            </tbody>
                            </table>
                        </div>
                    </div>